@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');

.list-page {
  margin: 0 3vw 4vw 3vw;
}

.List_layout {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}

.Card {
  width: 34rem !important;
}

.skeleton {
  width: 340px !important;
  height: 255px !important;
}

.list_panel {
  display: flex;
  flex-direction: column;
}

.radio_group_panel {
  display: flex;
  flex-direction: row;
}

.h1 {
  font-family: 'Lora', serif;
}