.List_layout {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}

.Card {
  width: 34rem !important;
}

.skeleton {
  width: 340px !important;
  height: 255px !important;
}

.radio_group_panel{
  display: flex;
  flex-direction: row;
}