@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Rubik:wght@500&display=swap');


.nav:hover {
  color: white !important;
}

.navText {
  font-family: 'Crimson Text', serif;
  font-size: small;
}