.bot-box {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.upload-div {
  display: flex;
  flex-direction: column;
}

.form {
  width: 60rem;
  padding: 5rem;
}

@media only screen and (max-width: 500px) {
  .form {
    width: 30rem;
    padding: 5rem;
  }

  .host-form-input:not(:first-child) {
    margin-top: -1.5rem !important;
  }
}
