@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.Header {
  padding: 0 1rem;
  background-color: #E8E6E7 !important;
}

.header_title-box {
  display: flex;
  flex-direction: row;
  position: relative;
}

.header_title {
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  flex: 1;
}


.nav {
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 32%;
  background-color: #E8E6E7 !important;
  flex: 5;
}

.welcome_button {
  color: black !important;
  flex: 1;
  position: absolute;
  right: 0;
}

.welcome_text {
  font-family: 'Ubuntu', sans-serif;
  font-size: larger;
}

@media only screen and (max-width: 500px) {
  .header_title {
    font-size: medium !important;
    margin: 1rem;
    display: inline-block;
  }

  .Header {
    padding: 1rem 0rem;
    width: 100%;
  }

  .login_button {
    display: none;
  }

  .welcome_button {
    float: right;
    margin-right: 0;
  }

  .login_icon {
    display: inline-block;
    float: right;
  }
}