@import "~antd/dist/antd.css";

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  height: 100%;
}

.web {
  display: block;
  height: 100%;
  position: relative;
}

.app {
  display: none;
}

.MainHead {
  background-color: #E8E6E7 !important;
}

.MainContent {
  height: 100%;
  width: 100%;
  background-color: #E8E6E7 !important;
}

.MainFooter-web {
  height: 10rem;
  width: 100%;
  background-color: #E8E6E7 !important;
  color: white !important;
  /* background-color: rgb(140, 167, 140) !important; */
}

.footSection {
  display: block;
}

.MainFooter-app {
  display: none;
}

@media only screen and (max-width: 500px) {
  .web {
    display: none;
  }

  .app {
    display: block;
    position: relative;
  }

  .MainContent {
    padding: 1rem;
    min-width: 100% !important;
    min-height: 86vh !important;
    background-color: rgb(236, 250, 245) !important;
  }

  .tab_bar {
    display: block;
    min-height: 6vh !important;
    min-width: 100% !important;
    border-top: solid 1px var(--adm-color-border);
    position: fixed;
    bottom: 0;
  }
}