@import "~antd/dist/antd.css";

html {
  font-size: 62.5%;
}

.MainHead {
  background-color: rgb(74, 158, 154) !important;
}
.MainSider {
  min-width: 20% !important;
  background-color: rgb(179, 212, 205) !important;
}
.MainContent {
  padding: 4rem;
  background-color: rgb(236, 250, 245) !important;
}

.MainFooter {
  background-color: rgb(74, 158, 154) !important;
  color: white !important;
  /* background-color: rgb(140, 167, 140) !important; */
}
